Repository Checkmk/checkmk-dev-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing, check-yaml-linting

check-python-formatters:
  name: Check Python Formatting
  entry: dev/check-python-format
  language: script

check-python-linting:
  name: Check Python Linting
  entry: dev/check-python-linting
  language: script

check-python-doctest:
  name: Doctests
  entry: dev/check-python-doctests
  language: script
  verbose: true

check-python-typing:
  name: Check Python Type Hinting
  entry: dev/check-python-typing
  language: script

check-yaml-linting:
  name: Check YAML Linting
  entry: dev/check-yaml-linting
  language: script

checkmk-dev-tools: jenkins-interface: adds information for build stages and build nodes
  cmk_dev/jenkins_utils/__init__.py
  typeshed/jenkins.pyi
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

checkmk-dev-tools: bump version to 0.1.65, update dependencies, fix dependency to python-dateutil
  poetry.lock
  pyproject.toml
Due: none

checkmk-dev-tools: bump version to 0.1.64
  cmk_dev/__init__.py
  cmk_dev/cli.py
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

checkmk-dev-tools: bump version to 0.1.63
  cmk_dev/__init__.py
  cmk_dev/cli.py
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: remove web interface and replace with textual TUI
  additional_packages/docker_shaper/Readme.md
  additional_packages/docker_shaper/docker_shaper.wpr
  additional_packages/docker_shaper/docker_shaper/__init__.py
  additional_packages/docker_shaper/docker_shaper/cli.py
  additional_packages/docker_shaper/docker_shaper/docker_state.py
  additional_packages/docker_shaper/docker_shaper/dynamic.py
  additional_packages/docker_shaper/docker_shaper/flask_table_patched/__init__.py
  additional_packages/docker_shaper/docker_shaper/flask_table_patched/columns.py
  additional_packages/docker_shaper/docker_shaper/flask_table_patched/compat.py
  additional_packages/docker_shaper/docker_shaper/flask_table_patched/html.py
  additional_packages/docker_shaper/docker_shaper/flask_table_patched/table.py
  additional_packages/docker_shaper/docker_shaper/headless_examples/dockermon.py
  additional_packages/docker_shaper/docker_shaper/server.py
  additional_packages/docker_shaper/docker_shaper/static/__init__.py
  additional_packages/docker_shaper/docker_shaper/static/bootstrap.min.css
  additional_packages/docker_shaper/docker_shaper/static/bootstrap.min.css.map
  additional_packages/docker_shaper/docker_shaper/static/docker_shaper.js
  additional_packages/docker_shaper/docker_shaper/templates/__init__.py
  additional_packages/docker_shaper/docker_shaper/templates/base.html
  additional_packages/docker_shaper/docker_shaper/templates/containers.html
  additional_packages/docker_shaper/docker_shaper/templates/dashboard.html
  additional_packages/docker_shaper/docker_shaper/templates/images.html
  additional_packages/docker_shaper/docker_shaper/templates/messages.html
  additional_packages/docker_shaper/docker_shaper/templates/rules.html
  additional_packages/docker_shaper/docker_shaper/templates/volumes.html
  additional_packages/docker_shaper/docker_shaper/utils.py
  additional_packages/docker_shaper/docker_shaper_dev
  additional_packages/docker_shaper/poetry.lock
  additional_packages/docker_shaper/pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker_shaper: bump version to 2.0.1
  additional_packages/docker_shaper/docker_shaper/__init__.py
  additional_packages/docker_shaper/docker_shaper/server.py
  additional_packages/docker_shaper/pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: makes pruning parametrizable
  additional_packages/docker_shaper/docker_shaper/docker_state.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: temporarily clip log lines at 100_000 to avoid memory buildup
  additional_packages/docker_shaper/docker_shaper/server.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: allow 5 mins of downtime before event horizon reset
  additional_packages/docker_shaper/docker_shaper/docker_state.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: update dependencies and bump version to 2.0.3
  additional_packages/docker_shaper/docker_shaper/__init__.py
  additional_packages/docker_shaper/docker_shaper/server.py
  additional_packages/docker_shaper/poetry.lock
  additional_packages/docker_shaper/pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: make cleanup procedure async
  additional_packages/docker_shaper/docker_shaper/dynamic.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

ci-artifacts: add help text for parser commands
  cmk_dev/ci_artifacts.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

cmk-dev-tools: bump version, update dependencies
  cmk_dev/__init__.py
  cmk_dev/cli.py
  poetry.lock
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Document the way to connect to a running docker-shaper on the build nodes
  additional_packages/docker_shaper/Readme.md
Due: none

Update command to run docker-shaper
  additional_packages/docker_shaper/Readme.md
Due: none

ci-artifacts: add validate command to request, identify or trigger build
  cmk_dev/ci_artifacts.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Update documentation of ci-artifacts, development setup and workflow
  Readme.md
  cmk_dev/ci_artifacts.py
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Fixup Readme list and poetry publish command
  Readme.md
Due: none

docker-shaper: lock dependencies
  additional_packages/docker_shaper/poetry.lock
  additional_packages/docker_shaper/pyproject.toml
Due: none

docker-shaper: improve UI
  additional_packages/docker_shaper/docker_shaper/dynamic.py
  additional_packages/docker_shaper/docker_shaper/server.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: clear docker-stats-tree every time maintain_docker_stats_tree() gets called
  additional_packages/docker_shaper/docker_shaper/dynamic.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: add async tasks to app tree
  additional_packages/docker_shaper/docker_shaper/docker_state.py
  additional_packages/docker_shaper/docker_shaper/dynamic.py
  additional_packages/docker_shaper/docker_shaper/server.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: simplify docker event buffering/handling
  additional_packages/docker_shaper/docker_shaper/docker_state.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: don't crash on missing or empty reference file
  additional_packages/docker_shaper/docker_shaper/docker_state.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: logging/comments
  additional_packages/docker_shaper/docker_shaper/docker_state.py
  additional_packages/docker_shaper/docker_shaper/dynamic.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: timout robust container monitoring
  additional_packages/docker_shaper/docker_shaper/docker_state.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

docker-shaper: support for dry-run in cleanup procedure
  additional_packages/docker_shaper/docker_shaper/dynamic.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

ci-artifacts: enable optional job canceling with ctrl+c
  Readme.md
  cmk_dev/ci_artifacts.py
  typeshed/jenkins.pyi
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Remove unused packages from pyproject.toml and lock again
  poetry.lock
  pyproject.toml
Due: none

Update authors
  pyproject.toml
Due: none

Replace isort, black and pylint with ruff
  .pre-commit-config.yaml
  .yamllint
  additional_packages/docker_shaper/deploy
  additional_packages/docker_shaper/docker_shaper/docker_state.py
  additional_packages/docker_shaper/docker_shaper/dynamic.py
  additional_packages/docker_shaper/docker_shaper/headless_examples/docker_prune.py
  additional_packages/docker_shaper/docker_shaper/headless_examples/dockermon.py
  cmk_dev/activity_from_fs.py
  cmk_dev/ci_artifacts.py
  cmk_dev/decent_output.py
  cmk_dev/jenkins_utils/__init__.py
  cmk_dev/pycinfo.py
  dev/check-python-format
  dev/check-python-linting
  dev/check-validity
  poetry.lock
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing, check-yaml-linting

Add Jenkins job and Docker file for CV builds
  ci/Dockerfile
  ci/jenkins_job_entry.groovy
  ci/meta.yml
  ci/test-gerrit.groovy
Due: check-yaml-linting

cmk-dev-tools: bump version
  cmk_dev/__init__.py
  cmk_dev/cli.py
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Remove double poetry call in entry points checks
  ci/test-gerrit.groovy
  dev/run-formatters
Due: none

Remove docker_shaper and outsource to new docker_shaper repo
  .pre-commit-config.yaml
  additional_packages/docker_shaper/.gitignore
  additional_packages/docker_shaper/Readme.md
  additional_packages/docker_shaper/deploy
  additional_packages/docker_shaper/docker_shaper.wpr
  additional_packages/docker_shaper/docker_shaper/__init__.py
  additional_packages/docker_shaper/docker_shaper/docker_state.py
  additional_packages/docker_shaper/docker_shaper/dynamic.py
  additional_packages/docker_shaper/docker_shaper/headless_examples/Dockerfile
  additional_packages/docker_shaper/docker_shaper/headless_examples/docker_events.py
  additional_packages/docker_shaper/docker_shaper/headless_examples/docker_monkey.sh
  additional_packages/docker_shaper/docker_shaper/headless_examples/docker_prune.py
  additional_packages/docker_shaper/docker_shaper/headless_examples/dockermon.py
  additional_packages/docker_shaper/docker_shaper/server.py
  additional_packages/docker_shaper/docker_shaper/utils.py
  additional_packages/docker_shaper/poetry.lock
  additional_packages/docker_shaper/poetry.toml
  additional_packages/docker_shaper/pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing, check-yaml-linting

Add --version arg to print version in ci-artifacts
  cmk_dev/ci_artifacts.py
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

cmk-dev-tools: bump version to 0.2.0 after docker_shaper removal
  Readme.md
  cmk_dev/__init__.py
  cmk_dev/cli.py
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Enable automatic releases and changelog generation
  .gitignore
  .snippets/CMK-20150.md
  Readme.md
  changelog.md
  ci/Dockerfile
  ci/release.groovy
  cmk_dev/__init__.py
  cmk_dev/ci_artifacts.py
  cmk_dev/cli.py
  cmk_dev/version.py
  poetry.lock
  pyproject.toml
Due: check-python-formatters, check-python-linting, check-python-doctest, check-python-typing

Path conditions:
  check-python-formatters: any of: \.py$
  check-python-linting: any of: \.py$
  check-python-doctest: any of: \.py$
  check-python-typing: any of: \.py$
  check-yaml-linting: any of: \.(yaml|yml)$
